<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>News</title>

     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
     </script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
     </script>
</head>
<body>
    <a href="/news"><h2>News</h2></a>
    <a href="/tags"><h2>Tags</h2></a>
    <h3>Pages:</h3>
    {% for p in paginator.page_range %}
        <h4><a href="?page={{ p }}">{{ p }}</a></h4>
    {% endfor %}
    {% if posts %}
        <ul>
        {% for post in posts %}
            <li>
                <div class="col-md-4">
                    <h3><a href="/news/{{ post.slug }}">{{ post.title }}</a></h3>
                    {% if post.photo %}
                        <img src="{{ post.photo.url }}" class="img-responsive" style="width: 400px; height: 300px; float: left; margin-right: 10px;" alt="{{ post.title }}"/>
                    {% endif %}
                    {{ post.content|truncatewords_html:20|safe }}
                    <h4><span>{{ post.created_at|date:"d.m.y" }}</span></h4>
                </div>
            </li>
        {% endfor %}
        </ul>
            {% else %}
        <p>No News</p>
    {% endif %}
</body>
</html>