<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>News list</title>

     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
     </script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
     </script>
</head>
<body>
    <h1>News</h1>
    {% if news %}
    <ul>
        {% for new in news %}
            <li>
            <div class="col-md-4">
                {{ new.title }}
                 <img src="{{ new.photo.url }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" />
            </div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No News</p>
    {% endif %}
</body>
</html>